---
import Section from "./Section.astro";
import SectionContent from "./SectionContent.astro";
import SectionTitle from "./SectionTitle.astro";
---

<Section id="about">
  <SectionTitle>Sobre Mi</SectionTitle>
  <SectionContent>
    <p>
      Mi verdadero nombre es <span class="text-white">Alexis González</span>,
      actualmente estoy estudiando ingeniería de software, aunque en realidad
      comencé mi aventura en la programación y el desarrollo web mucho antes,
      cuando tenía tan solo 16 años.
    </p>
    <p>
      Desde que comencé a programar me fascinó lo increíble que era la
      comunidad, desde el soporte para problemas y errores, hasta <span
        class="text-white">proyectos de código abierto</span
      > que se crearon para el beneficio de todos. Por este motivo, a menudo intento
      que mis proyectos sean útiles para otros desarrolladores o incluso para no
      programadores.
    </p>
  </SectionContent>
</Section>
