---
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="relative flex justify-between items-center gap-4 mx-auto max-w-3xl px-8 h-20"
>
  <p>&copy; 2025 <span class="text-green-500">Lehenna.com</span></p>
  <SocialLinks />
</footer>
